.main{
    background-color: rgb(3, 58, 3);
    font-size: 100%;
    height: 100%;
    
}

.h1{
    font-size: 25px;
}

.button1{
background-color: green;
}

.button2{
    background-color: rgb(95, 97, 95);
}