.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
     height: 130px;
   

}
#photo1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 60px;
}
#pargraph {
    font-size: 40px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#pargraph .red {
    color: red;
}
#pargraph span {
    margin-right: 10px; /* غير الرقم حسب ما تحب */
}
#pargraph span {
    margin-right: 0.4em;
}


#pargraph .white {
    color: white;
}


#button1{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 200px;
}
#button1:hover{
    background-color: #000000;
}

